html{
  background: #38f;
}

body{
  color: #222;
  background: #fff;
  margin: 0 20px;
  padding: 30px;
  font-family: Lato;
  font-size: 100%;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header{
  overflow: hidden;
  border-bottom: 2px solid #eee;
}

header h1{
  float: left;
  padding-right: 20px;
}

#content{
  overflow: hidden;
}

footer{
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 10px;
}

h1{
  margin: 0;
  padding: 0;
}

a{
  color: #36c;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  color: #47d;
}

input, button{
  font-family: inherit;
  font-size: inherit;
}

textarea{
  font-family: consolas, inconsolata, monospace, fixed;
  width: 100%;
  padding: 10px;
  min-height: 200px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.convertors-container{
  float: left;
  width: 20%;
}

.fields-container{
  margin-left: 22%;
}

ul.converters{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.converters > li{
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 8px;
  background: transparent;
  color: #222;
  border: none;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul.converters > li .toggler{
  cursor: pointer;
}

ul.converters > li .toggler label{
  cursor: pointer;
}

ul.converters span.toggle{
  display: block;
  position: absolute;
  right: 8px;
  top: 6px;
  width: 44px;
  height: 20px;
  background: #eee;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.1),
    inset 0 -4px 2px 2px rgba(255, 255, 255, 0.25);
}

ul.converters span.toggle::before{
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background: #e7e7e7;
  border: 1px solid #aaa;
  position: absolute;
  left: 1px;
  top: 1px;
  box-shadow: inset 0 0 1px 2px rgba(255, 255, 255, 0.35);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

ul.converters > li:hover{
  background: #f2f4f6;
}

ul.converters > li:hover span.toggle{
  border-color: #999;
}

ul.converters > li:hover span.toggle::before{
  background: #faa;
  border: 1px solid #c77;
}

ul.converters > li.active span.toggle::before{
  left: 24px;
  background: #4c4;
  border-color: #2a2;
}

ul.converters button.active{
  background: #36d;
  color: #fff;
}

ul.params{
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

ul.params li{
  font-size: 12px;
}

ul.params input[type=text]{
  width: 100%;
  padding: 2px 4px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.all-off-container{
  text-align: center;
  padding: 5px;
  margin-top: 8px;
}

.active-converters{
  padding: 10px 0;
  font-size: 85%;
}

.active-converters button{
  background: #f2f4f6;
  padding: 2px 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.active-converters button:hover{
  background: #fafcff;
  border-color: #999;
}

.active-converters .error{
  background: #f00;
}

.no-converters{
  padding: 5px 0;
}

a.forkme{
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding: 8px 14px;
  background: #3a3;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45), inset 0 25px 20px -10px rgba(255, 255, 255, 0.5);
  border-radius: 0 0 0 8px;
  border: 1px solid #282;
  border-top: none;
  border-right: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

a.forkme i{
  margin-right: 4px;
}
