<!DOCTYPE html>
<html ng-app="converty">
  <head>
    <title>Converty - Easily convert text</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600|Lato:400,700" rel="stylesheet" type="text/css"></link>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"></link>
  </head>

  <body>
    <header>
      <h1>Converty</h1>
      <p>
        Easily convert text from one format to another!
      </p>
    </header>
    <section id="content" ng-controller="MainController">
      <p>Select the converter(s) you want to use on the left and then type
        or paste the text to be converted below. Selecting multiple converters
        will apply them in the order they were enabled.
      </p>

      <section class="convertors-container">
        <ul class="converters">
          <li ng-repeat="converter in availableConverters" ng-class="{active: isConverterActive(converter)}">
            <div class="toggler" ng-click="toggleConverter(converter)">
              <i class="icon-chevron-sign-right" ng-show="converter.params"></i>
              <a ng-bind="converter.name"></a>
              <span class="toggle"></span>
            </div>
            <ul class="params" ng-show="isParamsShown(converter)">
              <li class="param" ng-repeat="param in converter.params">
                <span ng-switch on="param.type">

                  <span ng-switch-when="boolean">
                    <label><input type="checkbox" ng-model="param.value" /><span class="param-name" ng-bind="param.label"></span></label>
                  </span>

                  <span ng-switch-default>
                    <input type="text" ng-model="param.value" placeholder="{{ param.label }}" />
                  </span>
                </span>
              </li>
            </ul>
          </li>
        </ul>
        <div class="all-off-container">
          <a ng-click="disableAllConverters()" ng-show="activeConverters.length"><i class="icon-remove-sign"></i> Disable All</a>
        </div>
      </section>
      
      <section class="fields-container">
        <textarea ng-model="input" placeholder="Type or paste your text here."></textarea>

        <div class="active-converters">
          <span ng-repeat="converter in activeConverters">
            <button ng-bind="converter.name" ng-click="toggleConverter(converter)" ng-class="{error: converter.error}" title="Click to remove {{converter.name}}"></button>
            <span ng-hide="$last" class="icon-caret-right"></span>
          </span>
          <div class="no-converters" ng-hide="activeConverters.length">No converters selected.</div>
        </div>

        <textarea ng-model="output" readonly placeholder="Conversion will appear here."></textarea>
      </section>
    </section>

    <a href="https://github.com/djvirgen/ng-converty" class="forkme"><i class="icon-github icon-large"></i> Fork me on GitHub!</a>

    <footer>
      Powered by <a href="http://www.virgentech.com/">Virgen Technologies</a> and <a href="http://angularjs.org/">AngularJS</a>.
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/jshash-2.2/md5-min.js"></script>
    <script type="text/javascript" src="js/lib/jshash-2.2/sha1-min.js"></script>
    <script type="text/javascript" src="js/lib/jshash-2.2/sha256-min.js"></script>
    <script type="text/javascript" src="js/lib/jshash-2.2/sha512-min.js"></script>
    <script type="text/javascript" src="js/lib/coffee-script/coffee-script.js"></script>
    <script type="text/javascript" src="/js/converty.js"></script>
  </body>
</html>
